.task-area {
    width: 100%;
    min-height: var(--task-area-height);

    &_pos {
        margin: var(--header-height) 0 2rem 0;
    }

    &__list-header {
        margin-top: 5rem;
    }

    &__list-main {
        width: 100%;
    }
}

#main {
    width: 100%;
    margin-top: 5rem; 
}
